<p>Excel Works</p>

<div class="form-group">
    <label for="file">Choose File</label>
    <input type="file"
           id="file"
           accept=".xls, .xlt, .xlsx, .xlsm, .xltm, .xltx"
           (change)="handleFileInput($event.target.files)">
</div>

<br>
<br><br>
<hr>

<div *ngIf="loading">Loading...</div>
<div *ngFor="let item of sampleSheetData | keyvalue">
    <label>{{ item.key }}</label> : <input type="text" disabled value="{{ item.value }}"> 
</div>

<br>
{{temp}}

<br>
<br>
<button (click)="download()" *ngIf="uploadedWorkbook != null">Download</button>