<p>array works!</p>

<div *ngFor="let item of myObject | keyvalue">
    <div *ngIf="typeOf(item.value) === 'string'">
        Key: <b>{{item.key}}</b> : <input type="text" value="{{item.value}}" disabled>
    </div>
    <div *ngIf="typeOf(item.value) === 'object'">
        Key: <b>{{item.key}}</b> :
        <div *ngFor="let subItem of item.value | keyvalue">
            <input type="text" value="{{subItem.value}}" disabled>
        </div>
    </div>
</div>